/MyTemplate.Infrastructure/bin
/MyTemplate.Infrastructure/obj
/.vscode
/MyTemplate.Application/obj
/MyTemplate.Application/bin
/MyTemplate.Web/obj
/.idea
/MyTemplate.Web/bin
/MyTemplate.Common/bin
/MyTemplate.Common/obj
.fake
/MyTemplate.Domain/bin
/MyTemplate.Domain/obj
/MyTemplate.Web/Logs
/.vs/MyTemplate
/global.json
/.vs/ProjectEvaluation
